@import 'fonts';

$yellow: #ebb52a;
$white: #fff;
$gray: #8e8e93;
$black: #222;
$sf: 'SF-Pro', sans-serif;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: $sf;
  font-weight: 400;
  color: $white;
}

body {
  background-color: $black;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

h1 {
  margin-bottom: 0;
}

.container {
  padding: 0;
}

.col {
  padding: 0;
}
