@import '../globals';

.movie-modal-content {
  position: absolute;
  top: 50px;
  left: 80px;
  right: 80px;
  bottom: 50px;
  background-color: $black;
  overflow: auto;
  border-radius: 20px;
  outline: none;
}

.close-movie-icon {
  right: 50px;
  top: 35px;
  font-size: 1.3em;
}