@import '../globals';

.modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.75);
}

.filter-modal-content {
  position: absolute;
  top: 50px;
  left: 80px;
  right: 80px;
  bottom: 50px;
  background-color: $black;
  overflow: auto;
  border-radius: 20px;
  outline: none;
  padding: 100px;
}